@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* body {
  background: #f0f5f8;
  font-family: "Noto Sans JP", sans-serif;
  display: grid;
  grid-template-columns: 100px calc(100vw - 100px);
  grid-template-rows: 80px calc(100vh - 80px);
  grid-template-areas:
    "sidebar header"
    "sidebar main";
} */
#root {
  background: #f0f5f8;
  font-family: "Noto Sans JP", sans-serif;
  display: grid;
  grid-template-columns: 100px calc(100vw - 100px);
  grid-template-rows: 80px calc(100vh - 80px);
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}
